@use '@angular/material' as mat;
$font-family: 'Inter, "Helvetica Neue", Arial, sans-serif';

html {
  color-scheme: light;

  @include mat.theme((color: ( //  primary: mat.$azure-palette,
        //  tertiary: mat.$blue-palette,
        //  primary:  mat.$violet-palette,
        //  tertiary: mat.$blue-palette,
         primary: mat.$violet-palette,
         tertiary: mat.$rose-palette,

        // primary: mat.$orange-palette,
        // tertiary: mat.$blue-palette,

        // primary: mat.$indigo-palette,
        // tertiary: mat.$cyan-palette,
      ),
      typography: (brand-family: $font-family,
        plain-family: $font-family,
      ),
      density: 0));
}

.theme-dark {
  color-scheme: dark;
}